<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>luv2shop - Full Stack eCommerce: Angular and Spring Boot</title>

    <!-- Bootstrap CSS and Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Main CSS-->
    <link th:href="@{css/styles.css}" rel="stylesheet" media="all">

    <link rel="icon" th:href="@{images/favicon.ico}">
</head>

<body>
<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <div th:replace="fragments/aside-nav :: navbar"></div>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <div th:replace="fragments/header :: header"></div>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-3" th:each="tempProduct:${products}">
                            <div class="product-box">
                                <a th:href="@{'/products/' + ${tempProduct.id}}">
                                    <img th:attr="src=@{${tempProduct.imageUrl}}" alt='luv2code.com/images'
                                         class='img-responsive'>
                                </a>

                                <a th:href="@{'/products/' + ${tempProduct.id}}">
                                    <h1 th:text="${tempProduct.name}"></h1>
                                </a>
                                <h2 th:text="${tempProduct.description}"></h2>
                                <div th:class="price" th:inline="text">
                                    [[${#numbers.formatDecimal(tempProduct.unitPrice, 0, 'COMMA', 2, 'POINT')}]] $
                                </div>
                                <a href="#" class="primary-btn">Add to cart</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>


                    </div>

                    <form id="page-form" method="get">
                        <div class="footer-pagination">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <div class="items">
                                        <label>Item per page</label> <select id="size-box">
                                        <option>Page Size</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div id="page-show" class="number" th:text="${products.size()}"></div>
                                </div>
                                <div class="col-md-1">
                                    <div class="arrows">
                                        <a id="left-page"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                        <a id="right-page"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- END MAIN CONTENT-->

    </div>
</div>

<!-- END PAGE CONTAINER-->

<div th:replace="fragments/footer :: footer"></div>

</body>

<script type="text/javascript">


    document.getElementById("size-box").onchange = function () {
        insertParam("size", this.value);
        return false;
    };


    document.getElementById("right-page").onclick = function () {
        let i = getUrlParam("page");
        i = i + 1;
        insertParam("page", i)
    };

    document.getElementById("left-page").onclick = function () {
        let i = getUrlParam("page");
        if (i !== 0) {
            i = i - 1;
            insertParam("page", i)
        }
    };

    function insertParam(key, value) {
        key = encodeURI(key);
        value = encodeURI(value);

        var kvp = document.location.search.substr(1).split('&');

        var i = kvp.length;
        var x;
        while (i--) {
            x = kvp[i].split('=');

            if (x[0] === key) {
                x[1] = value;
                kvp[i] = x.join('=');
                break;
            }
        }

        if (i < 0) {
            kvp[kvp.length] = [key, value].join('=');
        }
        //this will reload the page, it's likely better to store this until finished
        document.location.search = kvp.join('&');

    }

    function getUrlParam(param) {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        let res = urlParams.get(param);
        if (res === null) {
            return 0;
        } else {
            res = parseInt(res);
            return res;
        }
    }

    showPageNumber();

    function showPageNumber() {
        let pageVal = parseInt(getUrlParam('page'));
        let sizeVal = parseInt(getUrlParam('size'));
        let productCount = parseInt(document.getElementById("page-show").textContent);
        let productText;

        if (productCount <= sizeVal) {
            productText = "1 - " + productCount + " of " + productCount;
        } else {
            productText = (pageVal * sizeVal) + 1 + " - " + (pageVal * sizeVal + sizeVal);
        }
        document.getElementById("page-show").innerHTML = "";
        let text = document.createTextNode(productText);
        document.getElementById("page-show").appendChild(text);
    }

</script>
</html>
<!-- end document-->