<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div style="align-content: center">

    <div id="loginbox"
         class="mainbox col-md-3 col-md-offset-3 col-md-12 col-sm-offset-2"
         style="padding-top: 50px;">

        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>

            <div style="padding-top: 30px" class="panel-body">

                <!-- Login Form -->
                <form th:action="@{/authenticateTheUser}"
                      method="post" class="form-horizontal">

                    <!-- Place for messages: error, alert etc ... -->
                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>

                                <!-- Check for login error -->
                                <div th:if="${param.success}">
                                    <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                        You've successfully signed up to our awesome app!
                                    </div>
                                </div>

                                <div th:if="${param.error != null}"
                                     class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    Invalid username and password.
                                </div>

                                <!-- Check for logout -->

                                <div th:if="${param.logout != null}"
                                     class="alert alert-success col-xs-offset-1 col-xs-10">
                                    You have been logged out.
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- User name -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                        <input type="text" name="username" placeholder="username" class="form-control">
                    </div>

                    <!-- Password -->
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                        <input type="password" name="password" placeholder="password" class="form-control">
                    </div>

                    <!-- Login/Submit Button -->
                    <div style="margin-top: 10px" class="form-group">
                        <div class="col-sm-6 controls">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </div>

                    <p>Don't have an account? <a th:href="@{/sign-up}">SignUp</a></p>

                    <!-- I'm manually adding tokens ... Bro! -->

                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>

                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>