<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>luv2shop - Full Stack eCommerce: Angular and Spring Boot</title>

    <!-- Bootstrap CSS and Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" media="all">

    <link rel="icon" th:href="@{/images/favicon.ico}">
</head>

<body>
<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <div th:replace="fragments/aside-nav::navbar"></div>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <div th:replace="fragments/header::header"></div>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="row">

                        <div th:each="tempProduct:${products}">
                            <img th:attr="src=@{ '/' +${tempProduct.imageUrl}}" alt= 'luv2code.com/images' class="img-responsive" width="300px">
                            <h3 th:text="${tempProduct.name}">
                            </h3>
                            <div th:class="price" th:inline="text">
                                [[${#numbers.formatDecimal(tempProduct.unitPrice, 0, 'COMMA', 2, 'POINT')}]] $
                            </div>
                            <a href="shopping-detail.html" class="primary-btn">Add to cart</a>

                            <h4>Product Description</h4>
                            <p th:text="${tempProduct.description}">
                            </p>

                            <a href="home.html">Back to Product List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END PAGE CONTAINER-->


<div th:replace="fragments/footer::footer"></div>

</body>

</html>
<!-- end document-->